= react_component("FloraApp", props: @flora_props, prerender: false)

.clear
%code
  = "--------- Data Dump, Rails: -------------"
  - for focus in @foci

    .code-title= focus.title
    .code-block
      - for task in focus.tasks
        .code-block-item
          = "- #{task.title}"
          %span= "(#{task.points})"

    .code-block
      - for deed in @deeds
        - if deed.focus_title == focus.title
          .code-block--item
            = "x #{deed.title}"
            %span= "(#{deed.points})"
